* {
  box-sizing: border-box;
}

:root {
  --primary: #009a93;
  --secondary: #451d9f;
  --tertiary: rgb(223, 220, 249);
  --grey: #333333;
  font-size: 62.5%;
}

body {
    background: #333333;
    background-image: url('/assets/images/background.gif');
    background-size: cover;
    color: var(--tertiary);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
  }

.btn {
  margin: 10px;
  display: block;
}

.hidden {
  display: none;
}
